.header{
    text-align: center;
    background-color: #d92d2d;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
}

input {
    width: 30%;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 16px;
    height: 44px;
    box-shadow: none;
    border: 0;
}

.logo{
    max-height: 60px;
    object-fit: contain;
}